:root {
    --cor-de-fundo: #c99cd6;
    }
    body {
        background-color: var(--cor-de-fundo);
        }
        h1 {
            background-color: rgb(142, 150, 197);
            
            }
            