:root {
    --cor-de-fundo: #c99cd6;
    }
    body {
        background-color: var(--cor-de-fundo);
        }
        h1 {
            background-color: rgb(203, 173, 211);
            
        
                border-radius: 15cm;
                 background-position: 5cm;
                 text-align: center;
        }
        a{ text-align: center;

        }
        
            